[Unit]
Description=Rusty Slackbot
After=docker.service
Requires=docker.service

[Service]
StandardOutput=journal
StandardError=journal
ExecStart=/usr/local/bin/docker-compose -f /opt/rusty-slackbot/docker-compose.yml -p rusty-slackbot up -d
ExecStop=/usr/local/bin/docker-compose -f /opt/rusty-slackbot/docker-compose.yml -p rusty-slackbot down
RemainAfterExit=yes
Type=simple
Restart=on-failure
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
